.musicman {
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    img {
        width: 100%;
        border-radius: 5px;
    }
}

.songlist {
    font-size: 2.5rem;
}