
.title {
    color: rgb(6, 143, 212);
    font-family: 'Rock Salt', cursive;

    h1 {
        font-size: 4rem;

        @media only screen and (min-width: 576px) {
                font-size: 7rem;
            }

        @media only screen and (min-width: 768px) {
            font-size: 10rem;
        }
    } 


}



.home_text {
    font-size: 2rem;
}