#home{
    
}

.sun-bg{
    background-image: url("../../img/argentine_sun2.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: 53%;
    background-blend-mode: color-dodge;
}